body {
	text-align: center;
	padding: 1em;
}

#words {
	column-count: 3;
}

#board {
	margin: 1em;
}
.square {
	width: 100%;
	text-align: center;
	max-width: 600px;
	border-radius: 6px;
}

.tile {
	width: 20%;
	position: relative;
	padding: 0;
	border: 7px outset rgb(235, 240, 245);
	border-radius: 10px;
	/* border: rebeccapurple 1px solid; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.tile:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

p {
	position: absolute;
	font-size: 2em;
	margin: 0;
	font-weight: bold;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.25em;
}

span {
	margin-right: 1em;
}

.score {
	font-weight: bold;
}

.restart {
	margin: 1em;
}

#word-box {
	width: 80%;
	border: 3px solid black;
	min-height: 100px;
	padding: 1em;
	margin: .5em;
}
