{% extends "base.html" %}


{% block content %}
<div class="container">
    <h1>Boggle</h1>
    <h3>Directions:</h3>
    <p>The goal of the game is to get the highest point total. To gain points, create words from the letters on the board.</p>

    <p>Words can be created from adjacent letters – that is, letters which are horizontal or vertical neighbors of each other as well as diagonals. The letters must connect to each other in the proper sequence to spell the word correctly. This means that the next letter in the word can be above, below, left, or right of the previous letter in the word excluding any letters previously used to construct the word.
    </p>
    <h4>Clik the button below to start the game.</h4>
    <form action="/play">
        <input type="submit" value="Start" class="btn btn-primary"/>
    </form>
</div>
{% endblock %}